Repository jmanhype/jido-conductor: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-credo, eslint, prettier, cargo-fmt, cargo-clippy

mix-format:
  name: Mix Format
  entry: bash -c 'cd agent_service && mix format --check-formatted'
  language: system
  pass_filenames: false

mix-credo:
  name: Mix Credo
  entry: bash -c 'cd agent_service && mix credo --strict'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd app && bun run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd app && bun run format:check'
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo Format
  entry: bash -c 'cd app/src-tauri && cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: bash -c 'cd app/src-tauri && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

Add conductor.json support and align with Conductor patterns
  CONDUCTOR-COMPARISON.md
  CONDUCTOR-JSON-GUIDE.md
  DOGFOOD-FINDINGS.md
  README.md
  agent_service/lib/agent_service/actions/execute_workflow.ex
  agent_service/lib/agent_service/agents/template_runner.ex
  agent_service/lib/agent_service/config/conductor_config.ex
  agent_service/lib/agent_service/config/script_executor.ex
  agent_service/lib/agent_service/runs/jido_worker.ex
  agent_service/lib/agent_service/templates/registry.ex
  agent_service/lib/agent_service/workflows/base_workflow.ex
  agent_service/lib/agent_service/workflows/web_monitor_workflow.ex
  agent_service/lib/agent_service_web/endpoint.ex
  agent_service/mix.exs
  agent_service/mix.lock
  agent_service/priv/templates/example/conductor.json
  agent_service/priv/templates/example/scripts/archive.sh
  agent_service/priv/templates/example/scripts/run.sh
  agent_service/priv/templates/example/scripts/setup.sh
  app/bun.lock
  app/package.json
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/gen/schemas/acl-manifests.json
  app/src-tauri/gen/schemas/capabilities.json
  app/src-tauri/gen/schemas/desktop-schema.json
  app/src-tauri/gen/schemas/macOS-schema.json
Due: mix-format, mix-credo, prettier

Fix remaining CI pipeline issues
  agent_service/.credo.exs
  agent_service/mix.exs
  app/eslint.config.mjs
  app/package.json
  app/src/globals.d.ts
  app/src/hooks/use-toast.ts
  app/src/lib/api.ts
  app/src/pages/Configure.tsx
  app/src/pages/Dashboard.tsx
  app/tsconfig.tsbuildinfo
Due: mix-format, mix-credo, eslint, prettier

Apply Prettier formatting to all frontend files
  app/src/App.tsx
  app/src/components/Layout.tsx
  app/src/components/ui/badge.tsx
  app/src/components/ui/button.tsx
  app/src/components/ui/card.tsx
  app/src/components/ui/input.tsx
  app/src/components/ui/label.tsx
  app/src/components/ui/scroll-area.tsx
  app/src/components/ui/switch.tsx
  app/src/components/ui/textarea.tsx
  app/src/components/ui/toast.tsx
  app/src/components/ui/toaster.tsx
  app/src/globals.d.ts
  app/src/hooks/use-toast.ts
  app/src/index.css
  app/src/lib/api.ts
  app/src/lib/store.ts
  app/src/lib/utils.ts
  app/src/main.tsx
  app/src/pages/Configure.tsx
  app/src/pages/Dashboard.tsx
  app/src/pages/RunDetails.tsx
  app/src/pages/Runs.tsx
  app/src/pages/Settings.tsx
  app/src/pages/Templates.tsx
Due: eslint, prettier

Update Rust version to 1.80 in CI workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Use stable Rust version in CI workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Fix remaining CI pipeline issues
  app/src-tauri/icons/128x128.png
  app/src-tauri/icons/128x128@2x.png
  app/src-tauri/icons/256x256.png
  app/src-tauri/icons/32x32.png
  app/src-tauri/icons/32x32@2x.png
  app/src-tauri/icons/icon.png
  app/src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy

Fix remaining CI pipeline issues
  app/src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

Fix Rust crate name reference in main.rs
  app/src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

Add Windows .ico file for Tauri builds
  app/src-tauri/icons/icon.ico
Due: none

Configure CI/CD to build DMG files for macOS
  .github/workflows/ci.yml
  .github/workflows/release.yml
  app/bun.lock
  app/package.json
Due: prettier

Fix DMG bundling by installing create-dmg dependency
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Fix Tauri shell plugin configuration for v2 compatibility
  app/src-tauri/tauri.conf.json
Due: prettier

Fix Tauri app launch issues
  app/src-tauri/capabilities/default.json
  app/src-tauri/gen/schemas/capabilities.json
  app/src-tauri/tauri.conf.json
Due: prettier

Fix Tauri build steps for Windows compatibility
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: CI/CD and Tauri app launch issues (#3)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  app/bun.lock
  app/package.json
  app/src-tauri/capabilities/default.json
  app/src-tauri/gen/schemas/capabilities.json
  app/src-tauri/tauri.conf.json
Due: prettier

feat: Add Claude AI icon from SVGL as app icon
  app/src-tauri/icons/128x128.png
  app/src-tauri/icons/128x128@2x.png
  app/src-tauri/icons/256x256.png
  app/src-tauri/icons/32x32.png
  app/src-tauri/icons/32x32@2x.png
  app/src-tauri/icons/icon.ico
  app/src-tauri/icons/icon.png
  app/src-tauri/icons/source-icon.svg
Due: none

feat: Add Claude AI icon from SVGL as app icon (#4)
  app/src-tauri/icons/128x128.png
  app/src-tauri/icons/128x128@2x.png
  app/src-tauri/icons/256x256.png
  app/src-tauri/icons/32x32.png
  app/src-tauri/icons/32x32@2x.png
  app/src-tauri/icons/icon.ico
  app/src-tauri/icons/icon.png
  app/src-tauri/icons/source-icon.svg
Due: none

fix: Add icon configuration to tauri.conf.json and include .icns file
  app/src-tauri/icons/icon.icns
  app/src-tauri/tauri.conf.json
Due: prettier

feat: implement semantic versioning with conventional commits
  .commitlintrc.json
  .github/workflows/semantic-release.yml
  .husky/commit-msg
  .husky/pre-commit
  .releaserc.json
  CHANGELOG.md
  CONTRIBUTING.md
  bun.lock
  package.json
Due: prettier

feat: implement semantic versioning with conventional commits (#5)
  .commitlintrc.json
  .github/workflows/semantic-release.yml
  .husky/commit-msg
  .husky/pre-commit
  .releaserc.json
  CHANGELOG.md
  CONTRIBUTING.md
  app/src-tauri/icons/icon.icns
  app/src-tauri/tauri.conf.json
  bun.lock
  package.json
Due: prettier

ci: add build-release workflow for binary artifacts
  .github/workflows/build-release.yml
Due: none

fix: resolve conflicting release workflows and asset configuration
  .github/workflows/build-release.yml
  .releaserc.json
  CONTRIBUTING.md
Due: prettier

feat: implement semantic versioning and automated releases (#6)
  .github/workflows/build-release.yml
  .releaserc.json
  CONTRIBUTING.md
Due: prettier

fix: add missing version field to package.json
  package.json
Due: prettier

fix: add missing version to package.json for semantic-release (#7)
  package.json
Due: prettier

fix: update pre-commit hook to skip tests when none exist
  .husky/pre-commit
Due: none

fix: update pre-commit hook to skip tests when none exist (#8)
  .husky/pre-commit
Due: none

fix: disable husky in semantic-release workflow
  .github/workflows/semantic-release.yml
Due: none

fix: disable husky in semantic-release CI workflow (#9)
  .github/workflows/semantic-release.yml
Due: none

Notes added by 'git notes add'
  f9136474c64eb15a4dcb8960cd236b5a4eb8d511
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

fix: unify release workflows to prevent conflicts
  .github/workflows/build-release.yml
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .releaserc.json
Due: prettier

feat: add Claude Code autonomous self-improvement workflow
  .github/workflows/self-improve.yml
  CLAUDE.md
Due: prettier

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  b5c6bc4f98337140b03b722c27e7e29cd9e24d69
Due: none

Path conditions:
  mix-format: any of: \.exs?$
  mix-credo: any of: \.exs?$
  eslint: any of: \.(tsx?|jsx?)$
  prettier: any of: \.(tsx?|jsx?|css|json|md)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
